.side-bar {
  color: white;
  padding-top: 5px;
  background-color: #111111;
  font-family: 'Merriweather', serif;
  width: 250px;
  text-align: right;
  padding-right: 10px;
  position: absolute;
  float: left;
  top: 0;
  bottom: 0;
  left: 0;
}

#newButton {
  margin-bottom: 25px;
}

h1 {
  padding-bottom: 75px;
}

h5 {
  padding-bottom: 25px;
}
