.side-bar {
  color: white;
  padding-top: 5px;
  background-color: #111111;
  font-family: 'Merriweather', serif;
  width: 300px;
  text-align: left;
  padding-left: 20px;
  position: absolute;
  float: left;
  top: 0;
  bottom: 0;
  left: 0;
}

.rooms-container:hover {
  color: yellow;
  cursor: default;

}

.current-room {
  padding-top: 15px;
  padding-left: 300px;
  width: 100%;
  position: relative;
  font-family: 'Merriweather', serif;
}

.chat-name {
  text-align: center;
}

.chat-messages {
  background-color: #e2eaf5;
}

.home-footer {
  width: 190px;
  position: fixed;
  text-align: center;
  bottom: 10px;
  font-family: 'Merriweather', serif;
  color: white;
}

.log-out {

}


#content {
  padding-bottom: 10px;
  padding-left: 15px;
  font-weight: 100;
}

#username {
  padding-top: 10px;
  padding-left: 15px;
  font-weight: bolder;
  color: red;
}

#message-time {
  color: #9d9d9d;
  font-style: italic;
  font-weight: 100;
  padding-left: 1000px;
}


//modal styling
.modal-title {
  color: black;
  font-family: 'Merriweather', serif;
  text-align: center;

}
 .modal-bar {
  text-align: center;
  width: 100%;
 }

 .modal-buttons {
   padding-top: 10px;
   text-align: center;
 }

 #modal-cancel {
   padding-right: 10px;
 }

 #modal-submit {
   padding-left: 10px;
 }

#newButton {
  margin-bottom: 10px;
}

h1 {
  padding-bottom: 25px;
}

h5 {
  padding-bottom: 25px;
}
