<div class="modal-content">
  <div class="modal-header">
    <h3 class ="modal-title">Create a New Room</h3>
  </div>
  <div class="modal-body">
    <form class="create-room" ng-submit="createRoom(room)" id="submit">
      <input class="modal-bar" type="text" ng-model="room" placeholder="Type name of room here...">
        <div class="modal-buttons">
          <button id ="modal-cancel" class="btn btn-danger btn-large" ng-click="cancelRoom()">Cancel</button>
          <button id ="modal-submit" class="btn btn-success btn-large">Submit</button>
        </div>
    </form>
 </div>
</section>
